################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Pokedex/FileContentIndex/3bc8976a-feb9-407c-9fc2-654f25cc14c8.vsidx
/.vs/Pokedex/FileContentIndex/8fbe6f2d-ae0d-404c-a6dc-a21fc149d63f.vsidx
/.vs/Pokedex/FileContentIndex/f67b6627-ab3e-468e-972a-d69dd3041454.vsidx
/.vs/Pokedex/FileContentIndex
/.vs/Pokedex/v17/TestStore/0/000.testlog
/.vs/Pokedex/v17/TestStore/0/001.testlog
/.vs/Pokedex/v17/TestStore/0/testlog.manifest
/.vs/Pokedex/v17/.suo
.vs/
**/bin/
**/obj/
/PokeBLL/obj/Debug/net8.0/PokeBLL.AssemblyInfoInputs.cache
/PokeBLL/obj/Debug/net8.0/PokeBLL.AssemblyInfo.cs
/PokeBLL/obj/Debug/net8.0/PokeBLL.csproj.AssemblyReference.cache
/PokeSERVICE/obj/Debug/net8.0/PokeDataSource.AssemblyInfo.cs
/PokeSERVICE/obj/Debug/net8.0/PokeDataSource.AssemblyInfoInputs.cache
/PokeTest/bin/Debug/net8.0/nunit_random_seed.tmp
/PokeBLL/Component/Pokemon/PokemonDataTransferObject/PokemonTypeDto.cs
/PokeSERVICE/Component/Pokemon/DataTransferObject/PokemonTypeApiResultDto.cs
/PokeBLL/obj/Debug/net8.0/PokeBLL.csproj.CoreCompileInputs.cache
/PokeBLL/obj/Debug/net8.0/PokeBLL.sourcelink.json
/PokeSERVICE/obj/Debug/net8.0/PokeDataSource.csproj.CoreCompileInputs.cache
/PokeSERVICE/obj/Debug/net8.0/PokeDataSource.sourcelink.json
/PokeBLL/bin/Debug/net8.0/PokeBLL.dll
/PokeBLL/bin/Debug/net8.0/PokeBLL.pdb
/PokeBLL/bin/Debug/net8.0/PokeDataSource.dll
/PokeBLL/bin/Debug/net8.0/PokeDataSource.pdb
/PokeBLL/obj/Debug/net8.0/refint/PokeBLL.dll
/PokeBLL/obj/Debug/net8.0/PokeBLL.dll
/PokeBLL/obj/Debug/net8.0/ref/PokeBLL.dll
/PokeBLL/obj/Debug/net8.0/PokeBLL.pdb
/Pokedex/bin/Debug/net8.0/PokeBLL.dll
/Pokedex/bin/Debug/net8.0/PokeBLL.pdb
/Pokedex/bin/Debug/net8.0/PokeDataSource.dll
/Pokedex/bin/Debug/net8.0/PokeDataSource.pdb
/Pokedex/bin/Debug/net8.0/Pokedex.dll
/Pokedex/bin/Debug/net8.0/Pokedex.exe
/Pokedex/bin/Debug/net8.0/Pokedex.pdb
/Pokedex/obj/Debug/net8.0/ref/Pokedex.dll
/Pokedex/obj/Debug/net8.0/refint/Pokedex.dll
/Pokedex/obj/Debug/net8.0/apphost.exe
/Pokedex/obj/Debug/net8.0/Pokedex.AssemblyInfo.cs
/Pokedex/obj/Debug/net8.0/Pokedex.AssemblyInfoInputs.cache
/Pokedex/obj/Debug/net8.0/Pokedex.csproj.AssemblyReference.cache
/Pokedex/obj/Debug/net8.0/Pokedex.dll
/Pokedex/obj/Debug/net8.0/Pokedex.pdb
/Pokedex/obj/Debug/net8.0/Pokedex.sourcelink.json
/Pokedex/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/Pokedex/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/Pokedex/obj/Debug/net8.0/rpswa.dswa.cache.json
/PokeSERVICE/bin/Debug/net8.0/PokeDataSource.dll
/PokeSERVICE/bin/Debug/net8.0/PokeDataSource.pdb
/PokeSERVICE/obj/Debug/net8.0/ref/PokeDataSource.dll
/PokeSERVICE/obj/Debug/net8.0/refint/PokeDataSource.dll
/PokeSERVICE/obj/Debug/net8.0/PokeDataSource.dll
/PokeSERVICE/obj/Debug/net8.0/PokeDataSource.pdb
