################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Pokedex/FileContentIndex/3bc8976a-feb9-407c-9fc2-654f25cc14c8.vsidx
/.vs/Pokedex/FileContentIndex/8fbe6f2d-ae0d-404c-a6dc-a21fc149d63f.vsidx
/.vs/Pokedex/FileContentIndex/f67b6627-ab3e-468e-972a-d69dd3041454.vsidx
/.vs/Pokedex/FileContentIndex
