################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Pokedex/FileContentIndex/3bc8976a-feb9-407c-9fc2-654f25cc14c8.vsidx
