@model List<Pokemon.Component.DataTransferObject.PokemonDto>
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="row">
        @{
            int count = 1;
        }
        @foreach (var pokemon in Model)
        {

            <div class="col-3">
                <a>
                    <img src="@pokemon.Url" />
                </a>
                <div>
                    <p><span>N°</span>@pokemon.Id</p>
                    <h5>@pokemon.Name.ToUpper()</h5>
                    <div>Abilities</div>
                </div>
            </div>

            if (count == 4)
            {
                <div class="w-100"></div>
            }
            count++;
        }
    </div>
</div>