@model List<Pokemon.Component.DataTransferObject.PokemonDto>
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="row">

        @foreach (var pokemon in Model)
        {

            <div class="col-3 me-3 mb-3 rounded" style="border: ridge">
                <div class="row mt-2">
                    <div class="col text-center bg-gradient">
                        <a>
                            <img src="@pokemon.Url" class="rounded-circle border border-secondary" />
                        </a>
                    </div>
                </div>
                <div class="row d-flex justify-content-between mt-2">
                    <div class="col">
                        <p>N° @pokemon.Id</p>
                        <h5>@pokemon.Name.ToUpper()</h5>
                    </div>
                    <div class="col mb-2 me-2 align-middle">
                        <div class="row mb-1 w-75">
                            <div class="col rounded bg-success">
                                <small>Ability 1</small>
                            </div>
                        </div>
                        <div class="row mb-1 w-75">
                            <div class="col rounded bg-success">
                                <small>Ability 1</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>